################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
obj
packages
bin
/MotionPlatformData/Release
/MotionPlatformData/Debug
/MotionPlatformData/MotionPlatformData.vcxproj.user
